    <div class="sidebar1">
        <!---側邊展開選單start--->
        <div class="left_menu_board_container">
          <div class="left_menu_board_t"></div>
          <div class="left_menu_board_m">
            <div id="menuContent">
              <div class="menu_group_1"></div>
              <div class="left_menu_m">
                <ul>
                  <li>
		            <div class="menu_item"><a href="javascript:;">最新消息</a></div>
                    <div class="menu_sub" style="display:none;">
                      <ul>
                        <li><a href="javascript:;" onclick="load_page(announce)">最新公告</a></li>
                        <li><a href="javascript:;" onclick="load_page(msg)">活動訊息</a></li>
                        <li><a href="javascript:;" onclick="load_page(info)">遊戲資訊</a></li>
                        <li><a href="javascript:;" onclick="load_page(winners)">得獎名單</a></li>
                      </ul>
		            </div>
                  </li>
                  <li>
		            <div class="menu_item"><a href="javascript:;">金鑽名人榜</a></div>
                     <div class="menu_sub" style="display:none;">
                      <ul>
                        <li><a href="javascript:;" onclick="load_page(baidaregal)">百大富豪</a></li>
                        <li><a href="javascript:;" onclick="load_page(baidapullcolor)">百大拉彩</a></li>
                        <li><a href="javascript:;" onclick="load_page(baidawinpoints)">百大贏分</a></li>
                        <li><a href="javascript:;" onclick="load_page(gamebn)">遊戲局數</a></li>
                        <li><a href="javascript:;" onclick="load_page(singlebnscore)">單局得分</a></li>
                        <li><a href="javascript:;" onclick="load_page(singlebnrate)">單局倍率</a></li>
                        <li><a href="javascript:;" onclick="load_page(combolist)">連爆榜</a></li>
                      </ul>
		            </div>
                  </li>
                  <li>
		            <div class="menu_item"><a href="javascript:;">遊戲介紹</a></div>
                     <div class="menu_sub" style="display:none;">
                      <ul>
                        <li><a href="javascript:;" onclick="load_page(overview)">遊戲總覽</a></li>
                        <li><a href="javascript:;" onclick="load_page(runner)">轉輪館</a></li>
                        <li><a href="javascript:;" onclick="load_page(saobaiqing)">柏青嫂</a></li>
                        <li><a href="javascript:;" onclick="load_page(electronics)">電子館</a></li>
                        <li><a href="javascript:;" onclick="load_page(classic)">經典款</a></li>
                      </ul>
		            </div>
                  </li>
                  <li>
		            <div class="menu_item"><a href="javascript:;">新手教學</a></div>
                    <div class="menu_sub" style="display:none;">
                      <ul>
                        <li><a href="javascript:;" onclick="load_page(interface)">遊戲介面</a></li>
                        <li><a href="javascript:;" onclick="load_page(currencypoints)">幣別點數</a></li>
                        <li><a href="javascript:;" onclick="load_page(tradingsystem)">交易系統</a></li>
                        <li><a href="javascript:;" onclick="load_page(officialversion)">官方版本安裝</a></li>
                        <li><a href="javascript:;" onclick="load_page(chat)">聊天功能</a></li>
                        <li><a href="javascript:;" onclick="load_page(grade)">等級系統</a></li>
                        <li><a href="javascript:;" onclick="load_page(popularity)">會員人氣值</a></li>
                        <li><a href="javascript:;" onclick="load_page(pullcolorintroduction)">彩金介紹</a></li>
                        <li><a href="javascript:;" onclick="load_page(propsvirtualtreasure)">道具虛寶系統</a></li>
                        <li><a href="javascript:;" onclick="load_page(historytachometer)">歷史轉數表</a></li>
                        <li><a href="javascript:;" onclick="load_page(vipcarddiscount)">VIP卡別優惠</a></li>
                      </ul>
		            </div>
                  </li>
                  <li>
		            <div class="menu_item"><a href="javascript:;">試玩體驗</a></div>
                    <div class="menu_sub" style="display:none;">
                      <ul>
                        <li><a href="javascript:;" onclick="load_page(alldemo)">所有試玩</a></li>
                        <li><a href="javascript:;" onclick="load_page(runnerdemo)">轉輪館</a></li>
                        <li><a href="javascript:;" onclick="load_page(saobaiqingdemo)">柏青嫂</a></li>
                        <li><a href="javascript:;" onclick="load_page(electronicsdemo)">電子館</a></li>
                        <li><a href="javascript:;" onclick="load_page(classicdemo)">經典款</a></li>
                      </ul>
		            </div>
                  </li>
                  <li>
		            <div class="menu_item menu_item_on"><a href="javascript:;">會員專區</a></div>
                    <div class="menu_sub">
                      <ul>
                        <li><a href="javascript:;" onclick="load_page(memberinfo)">我的會員資訊</a></li>
                        <li><a href="javascript:;" onclick="load_page(modifypwd)" class="active">修改密碼</a></li>
                        <li><a href="javascript:;" onclick="load_page(giftpointhistory)">贈點歷程</a></li>
                        <li><a href="javascript:;" onclick="load_page(myfriend)">我的好友</a></li>
                        <li><a href="javascript:;" onclick="load_page(gamehistory)">遊戲紀錄</a></li>
                        <li><a href="javascript:;" onclick="load_page(awardcenter)">領獎中心</a></li>
                        <li><a href="javascript:;" onclick="load_page(purchasehistory)">產包購買紀錄</a></li>                                            
                      </ul>
		            </div>
                  </li>
                  <li>
		            <div class="menu_item"><a href="javascript:;">儲值轉點</a></div>
                    <div class="menu_sub" style="display:none;">
                      <ul>
                        <li><a href="javascript:;" onclick="load_page(giftshoppingpoint)">儲值購點</a></li>
                        <li><a href="javascript:;" onclick="load_page(platformgamepoint)">平台轉換遊戲點數</a></li>
                        <li><a href="javascript:;" onclick="load_page(referencegiftredemption)">序號儲值兌換</a></li>
                        <li><a href="javascript:;" onclick="load_page(turningPointtradingcenter)">交易轉點中心</a></li>
                      </ul>
		            </div>
                  </li>
	            </ul>
              </div>
            </div>
          </div>
          <div class="left_menu_board_b"></div>
        </div>
        <!---側邊展開選單end---> 

        <!------客服中心 begin--------->
        <div class="services_container">
          <div class="services_center_board_t"></div>
          <div class="services_center_board_m">
            <div class="link_1"><a href="javascript:;" onclick="load_page(customerserviceonline)"></a></div>
            <div class="link_2"><a href="javascript:;" onclick="load_page(faq)"></a></div>
          </div>
          <div class="services_center_board_b"></div>
        </div>
        <!------客服中心 end--------->

    </div>
    <div class="sidebar2">
      <!---最新熱門機台 begin----->
      <div class="hot_slot_game">
        <div id="hot_slot_title_member" class="hot_slot_title_member"><br class="clearfloat" />
        </div> 
        <div class="hot_slot_member_02"> 
          <ul>
            <br class="clearfloat" />
          </ul>
        </div>
      </div>
      <!---最新熱門機台 end----->
     
    </div>
    <br class="clearfloat" />