.ranking_m_container {
  width: 900px;
  padding-top: 10px;
  padding-right: 12px;
}
.title_container_2 ul.tabs_2 .menu1{
	background-image: url(../images/templates_index/ranking/ranking_menu_1.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.title_container_2 ul.tabs_2 .menu1 a{
	display: block;
	height: 34px;
	width: 110px;
}
.title_container_2 ul.tabs_2 .menu1.active{
	background-image: url(../images/templates_index/ranking/ranking_menu_1.png);
	background-repeat: no-repeat;
	background-position: left -34px;
}
.title_container_2 ul.tabs_2 .menu2{
	background-image: url(../images/templates_index/ranking/ranking_menu_2.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.title_container_2 ul.tabs_2 .menu2 a{
	display: block;
	height: 34px;
	width: 110px;
}
.title_container_2 ul.tabs_2 .menu2.active{
	background-image: url(../images/templates_index/ranking/ranking_menu_2.png);
	background-repeat: no-repeat;
	background-position: left -34px;
}
.title_container_2 ul.tabs_2 .menu3{
	background-image: url(../images/templates_index/ranking/ranking_menu_3.png);
	background-repeat: no-repeat;
	background-position: left top;
}
ul.tabs_2 .menu3 a{
	display: block;
	height: 34px;
	width: 110px;
}
.title_container_2 ul.tabs_2 .menu3.active{
	background-image: url(../images/templates_index/ranking/ranking_menu_3.png);
	background-repeat: no-repeat;
	background-position: left -34px;
}
.title_container_2 ul.tabs_2 .menu4{
	background-image: url(../images/templates_index/ranking/ranking_menu_4.png);
	background-repeat: no-repeat;
	background-position: left top;
}
ul.tabs_2 .menu4 a{
	display: block;
	height: 34px;
	width: 110px;
}
.title_container_2 ul.tabs_2 .menu4.active{
	background-image: url(../images/templates_index/ranking/ranking_menu_4.png);
	background-repeat: no-repeat;
	background-position: left -34px;
}
.abgne_tab_2 {
	clear: left;
}
ul.tabs_2 {
	width: auto;
	height: auto;
	display: block;
	padding-left: 0px;
	float: left;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #000000;
}
ul.tabs_2 li {
	float: left;
	height: 34px;
	line-height: 22px;
	font-size: 12px;
	text-align: center;
	width: auto;
	list-style-position: outside;
	list-style-type: none;
	display: block;
	margin-right: 0px;
}
ul.tabs_2 li a {
	text-decoration: none;
}

div.tab_container {
	float: left;
	/*width: 100%;*/
	width: 50%;
}
div.tab_container .tab_content_2 {
	/*height: 176px;*/
}

/**排行榜條目**/
ul.ranking_list_index{
	margin-left: 2px;
	height: auto;
	margin-right: 2px;
	display: block;
	padding-top: 2px;
	/*width: 258px;*/
	width: 100%;
	float: left;
}
ul.ranking_list_index li{
	list-style-position: outside;
	list-style-type: none;
	background-image: url(../images/common/news_line_1.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	width: auto;
	margin: 0px;
	display: block;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	line-height: 28px;
	text-align:center;
}
ul.ranking_list_index li a{
	height: auto;
	color: #333333;
	width: auto;
}
ul.ranking_list_index li a:hover{
	height: auto;
	color: #66C;
}
ul.ranking_list_index li .list_nu{
	float: left;
	width: 40px;
	margin-right: 18px;
	text-align: center;
	}

ul.ranking_list_index li .user_id{
	float: left;
	/*width: 100px;*/
	width: 120px;
	height: auto;
	font-size: 12px;
	margin: 0px;
	line-height: 28px;
	text-overflow : ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	/*color: #ebc677;*/
	color: #452606;
}
ul.ranking_list_index li .ranking_index{
	float: left;
	font-family: "微軟正黑體", "Microsoft JhengHei", arial, helvetica, clean, Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-align: center;
	width: 90px;
	line-height: 28px;
	height: auto;
	/*color: #ebc677;*/
	color: #452606;
	padding-left: 5px;
}

ul.ranking_list_index li .ranking_info{
	float: left;
	font-family: "微軟正黑體", "Microsoft JhengHei", arial, helvetica, clean, Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-align: center;
	width: 130px;
	line-height: 28px;
	height: auto;
	/*color: #ebc677;*/
	color: #452606;
	padding-left: 5px;
}
