<div class="footer">
  <div class="footer_container">                                                                                                              
    <div class="copyright_logo"><a href=""></a></div>                                                                                         
    <div class="copyright_txt">                                                                                                               
      <span class="link"><a href="#">服務條款</a> |  <a href="#">隱私權政策</a> |  <a href="#">聯絡我們</a> |  <a href="#">常見問題</a></span>
      c 2015 咪兔數位科技 All Rights Reserved.<br>                                                                                            
      請注意使用時間，避免沉迷於遊戲。本遊戲部份內容需要購買遊戲幣消費。                                                                      
    </div>                                                                                                                                    
    <div class="game_npluto"><a href="http://www.npluto.com/" target="_blank"></a></div>                                                      
    <div class="classification"></div>                                                                                                        
    <br class="clearfloat">                                                                                                                   
  </div>                                                                                                                                      
</div>                                                                                                                                        