<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>《金鑽樂園2 GoWin》</title>
<link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="../css/sky_bar.css"/>
<link rel="stylesheet" type="text/css" href="../css/templates_index.css"/>
<link rel="stylesheet" type="text/css" href="../css/common.css"/>
<link rel="stylesheet" type="text/css" href="../css/style.css"/>
<script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../js/siteJS.js"></script>
<script type="text/javascript" src="../js/flash.js"></script>
<script type="text/javascript" src="../js/data.js"></script>
<style type="text/css">
<!--
-->
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<body>
<!-------左右浮動廣告 begin------->
<div class="toolbarframe1" id="ad1">
  <div class="toolbar_img"> 
    <div class="close_win"><a href="javascript:();" onClick="MM_showHideLayers('ad1','','hide')"></a></div>
    <div class="btn_apk"><a href=""></a></div>
    <div class="btn_billing_container">
      <a href="" class="btn_billing_1"></a>
      <a href="" class="btn_billing_2"></a>
      <a href="" class="btn_billing_3"></a>
      <a href="" class="btn_billing_4"></a>
    </div>
    <br class="clearfloat" />
  </div>
</div>

<!-------左右浮動廣告 end------->
<!------平台工具列(登入前) begin-------->
<div class="sky_bar">
  <div class="sky_bar_container">
    <div class="divider"></div>
    <div class="gowin_login">
      <div class="login_tb_1">
        <input type="email" required autocomplete="off" size="35" placeholder="帳號" class="input_account_n" id="input_account" tabindex="1" value="" name="input_account"><br>
        <input type="password" pattern="^[a-zA-Z0-9]{8,16}$" required autocomplete="off" maxlength="16" size="35" placeholder="密碼" class="input_password_n" id="input_password" tabindex="2" value="" name="input_password"><br>
      </div>
      <div class="login_tb_2">
        <input type="text" required pattern="\d{4}" autocomplete="off" size="10" maxlength="5" placeholder="驗證碼" class="input_captcha_n" id="input_captcha"  tabindex="4" value="" name="input_captcha" /><br>
        <div class="area_verifyimg"><a href="#"><img src="../images/common/verifyimg/verifyimg.jpg" title="換一張圖"/></a></div>
        <div class="cookie">
          <div class="checkbox_l">
            <form name="form1" method="post" action="">
              <input type="checkbox" name="checkbox" id="checkbox" class="checkbox_n">
            </form>
          </div>
          <div class="checkbox_txt">記住帳號</div><br class="clearfloat" />
        </div>
        <br class="clearfloat" />
      </div>
      <div class="login_tb_3">
        <div class="sky_bar_btn_login"><a href="#"></a></div>
        <div class="sky_bar_btn_container_1">
          <div class="sky_bar_btn_register"><a href="#"></a></div>
          <div class="sky_bar_btn_forget_password"><a href="#"></a></div>
        </div>
        <br class="clearfloat" />
      </div>
      <br class="clearfloat" />
    </div>
    <div class="divider"></div>
    <div class="divider_r"></div>
    <div class="google_share"><a href="javascript:;"><img src="../images/sky_bar/btn_share_2.png" alt="share to google+" border="0" onClick="javascript: void(window.open('http://plus.google.com/share?url='.concat(encodeURIComponent(location.href)) ));"></a></div>
    <div class="fb_share"><a href="javascript:;"><img src="../images/sky_bar/btn_share_1.png" alt="share to facebook" border="0" onClick="javascript: void(window.open('http://www.facebook.com/share.php?u='.concat(encodeURIComponent(location.href)) ));"></a></div>
    <div class="divider_r"></div>

    <div class="jp_container">
      <div id="abgne_marquee">
        <ul>
          <li class="b1">
            <div class="jp_info"><img src="../images/sky_bar/jp_nu_0.jpg"><img src="../images/sky_bar/jp_nu_1.jpg"><img src="../images/sky_bar/jp_nu_2.jpg"><img src="../images/sky_bar/jp_nu_3.jpg"><img src="../images/sky_bar/jp_nu_4.jpg"><img src="../images/sky_bar/jp_nu_5.jpg"><img src="../images/sky_bar/jp_nu_6.jpg"><img src="../images/sky_bar/jp_nu_7.jpg"><img src="../images/sky_bar/jp_nu_8.jpg"><img src="../images/sky_bar/jp_nu_9.jpg"></div>
          </li>
          <li class="b2">
            <div class="jp_info"><img src="../images/sky_bar/jp_nu_0.jpg"><img src="../images/sky_bar/jp_nu_1.jpg"><img src="../images/sky_bar/jp_nu_2.jpg"><img src="../images/sky_bar/jp_nu_3.jpg"><img src="../images/sky_bar/jp_nu_4.jpg"><img src="../images/sky_bar/jp_nu_5.jpg"><img src="../images/sky_bar/jp_nu_6.jpg"><img src="../images/sky_bar/jp_nu_7.jpg"><img src="../images/sky_bar/jp_nu_8.jpg"><img src="../images/sky_bar/jp_nu_9.jpg"></div>
          </li>
          <li class="b3">
            <div class="jp_info"><img src="../images/sky_bar/jp_nu_0.jpg"><img src="../images/sky_bar/jp_nu_1.jpg"><img src="../images/sky_bar/jp_nu_2.jpg"><img src="../images/sky_bar/jp_nu_3.jpg"><img src="../images/sky_bar/jp_nu_4.jpg"><img src="../images/sky_bar/jp_nu_5.jpg"><img src="../images/sky_bar/jp_nu_6.jpg"><img src="../images/sky_bar/jp_nu_7.jpg"><img src="../images/sky_bar/jp_nu_8.jpg"><img src="../images/sky_bar/jp_nu_9.jpg"></div>
          </li>
          <li class="b4">
            <div class="jp_info"><img src="../images/sky_bar/jp_nu_0.jpg"><img src="../images/sky_bar/jp_nu_1.jpg"><img src="../images/sky_bar/jp_nu_2.jpg"><img src="../images/sky_bar/jp_nu_3.jpg"><img src="../images/sky_bar/jp_nu_4.jpg"><img src="../images/sky_bar/jp_nu_5.jpg"><img src="../images/sky_bar/jp_nu_6.jpg"><img src="../images/sky_bar/jp_nu_7.jpg"><img src="../images/sky_bar/jp_nu_8.jpg"><img src="../images/sky_bar/jp_nu_9.jpg"></div>
          </li>
          <li class="b5">
            <div class="jp_info"><img src="../images/sky_bar/jp_nu_0.jpg"><img src="../images/sky_bar/jp_nu_1.jpg"><img src="../images/sky_bar/jp_nu_2.jpg"><img src="../images/sky_bar/jp_nu_3.jpg"><img src="../images/sky_bar/jp_nu_4.jpg"><img src="../images/sky_bar/jp_nu_5.jpg"><img src="../images/sky_bar/jp_nu_6.jpg"><img src="../images/sky_bar/jp_nu_7.jpg"><img src="../images/sky_bar/jp_nu_8.jpg"><img src="../images/sky_bar/jp_nu_9.jpg"></div>
          </li>
          <li class="b6">
            <div class="jp_info"><img src="../images/sky_bar/jp_nu_0.jpg"><img src="../images/sky_bar/jp_nu_1.jpg"><img src="../images/sky_bar/jp_nu_2.jpg"><img src="../images/sky_bar/jp_nu_3.jpg"><img src="../images/sky_bar/jp_nu_4.jpg"><img src="../images/sky_bar/jp_nu_5.jpg"><img src="../images/sky_bar/jp_nu_6.jpg"><img src="../images/sky_bar/jp_nu_7.jpg"><img src="../images/sky_bar/jp_nu_8.jpg"><img src="../images/sky_bar/jp_nu_9.jpg"></div>
          </li>
        </ul>
      </div>
    </div>

    <div class="divider_r"></div>
    <br class="clearfloat" />
  </div>
</div>
<!------平台工具列(登入前) end--------->
<!------平台工具列(登入後) begin---------
<div class="sky_bar">
  <div class="sky_bar_container">
    <div class="divider"></div>
    <div class="gowin_login">
      <div class="login_tb_1">
        <div class="user_face"><img src="../images/member/user_face/user_face_1_s.jpg" width="56" height="56"></div>
        <div class="user_ifo_1">
          <div class="user_name"><a href="#">暱稱暱稱暱稱暱稱</a></div>
          <div class="btn_logout"><a href="#"></a></div>
        </div>
        <br class="clearfloat" />
      </div>
      <div class="divider"></div>
      <div class="login_tb_2">
        <div class="g_cash">
          <div class="g_cash_txt">0123456789.01 </div><div class="btn_deposit"><a href="#"></a></div><br class="clearfloat" />
        </div>
        <div class="lucky_gold">0123456789.01</div>
      </div>
      <div class="divider"></div>
      <div class="login_tb_3">
        <div class="user_sort">白鑽</div>
        <div class="user_lv">999</div>
      </div>
      <div class="divider"></div>
      <br class="clearfloat" />
    </div>
    <div class="divider_r"></div>
    <div class="google_share"><a href="javascript:;"><img src="../images/sky_bar/btn_share_2.png" alt="share to google+" border="0" onClick="javascript: void(window.open('http://plus.google.com/share?url='.concat(encodeURIComponent(location.href)) ));"></a></div>
    <div class="fb_share"><a href="javascript:;"><img src="../images/sky_bar/btn_share_1.png" alt="share to facebook" border="0" onClick="javascript: void(window.open('http://www.facebook.com/share.php?u='.concat(encodeURIComponent(location.href)) ));"></a></div>
    <div class="divider_r"></div>

    <div class="jp_container">
      <div id="abgne_marquee">
        <ul>
          <li class="b1">
            <div class="jp_info"><img src="../images/sky_bar/jp_nu_0.jpg"><img src="../images/sky_bar/jp_nu_1.jpg"><img src="../images/sky_bar/jp_nu_2.jpg"><img src="../images/sky_bar/jp_nu_3.jpg"><img src="../images/sky_bar/jp_nu_4.jpg"><img src="../images/sky_bar/jp_nu_5.jpg"><img src="../images/sky_bar/jp_nu_6.jpg"><img src="../images/sky_bar/jp_nu_7.jpg"><img src="../images/sky_bar/jp_nu_8.jpg"><img src="../images/sky_bar/jp_nu_9.jpg"></div>
          </li>
          <li class="b2">
            <div class="jp_info"><img src="../images/sky_bar/jp_nu_0.jpg"><img src="../images/sky_bar/jp_nu_1.jpg"><img src="../images/sky_bar/jp_nu_2.jpg"><img src="../images/sky_bar/jp_nu_3.jpg"><img src="../images/sky_bar/jp_nu_4.jpg"><img src="../images/sky_bar/jp_nu_5.jpg"><img src="../images/sky_bar/jp_nu_6.jpg"><img src="../images/sky_bar/jp_nu_7.jpg"><img src="../images/sky_bar/jp_nu_8.jpg"><img src="../images/sky_bar/jp_nu_9.jpg"></div>
          </li>
          <li class="b3">
            <div class="jp_info"><img src="../images/sky_bar/jp_nu_0.jpg"><img src="../images/sky_bar/jp_nu_1.jpg"><img src="../images/sky_bar/jp_nu_2.jpg"><img src="../images/sky_bar/jp_nu_3.jpg"><img src="../images/sky_bar/jp_nu_4.jpg"><img src="../images/sky_bar/jp_nu_5.jpg"><img src="../images/sky_bar/jp_nu_6.jpg"><img src="../images/sky_bar/jp_nu_7.jpg"><img src="../images/sky_bar/jp_nu_8.jpg"><img src="../images/sky_bar/jp_nu_9.jpg"></div>
          </li>
          <li class="b4">
            <div class="jp_info"><img src="../images/sky_bar/jp_nu_0.jpg"><img src="../images/sky_bar/jp_nu_1.jpg"><img src="../images/sky_bar/jp_nu_2.jpg"><img src="../images/sky_bar/jp_nu_3.jpg"><img src="../images/sky_bar/jp_nu_4.jpg"><img src="../images/sky_bar/jp_nu_5.jpg"><img src="../images/sky_bar/jp_nu_6.jpg"><img src="../images/sky_bar/jp_nu_7.jpg"><img src="../images/sky_bar/jp_nu_8.jpg"><img src="../images/sky_bar/jp_nu_9.jpg"></div>
          </li>
          <li class="b5">
            <div class="jp_info"><img src="../images/sky_bar/jp_nu_0.jpg"><img src="../images/sky_bar/jp_nu_1.jpg"><img src="../images/sky_bar/jp_nu_2.jpg"><img src="../images/sky_bar/jp_nu_3.jpg"><img src="../images/sky_bar/jp_nu_4.jpg"><img src="../images/sky_bar/jp_nu_5.jpg"><img src="../images/sky_bar/jp_nu_6.jpg"><img src="../images/sky_bar/jp_nu_7.jpg"><img src="../images/sky_bar/jp_nu_8.jpg"><img src="../images/sky_bar/jp_nu_9.jpg"></div>
          </li>
          <li class="b6">
            <div class="jp_info"><img src="../images/sky_bar/jp_nu_0.jpg"><img src="../images/sky_bar/jp_nu_1.jpg"><img src="../images/sky_bar/jp_nu_2.jpg"><img src="../images/sky_bar/jp_nu_3.jpg"><img src="../images/sky_bar/jp_nu_4.jpg"><img src="../images/sky_bar/jp_nu_5.jpg"><img src="../images/sky_bar/jp_nu_6.jpg"><img src="../images/sky_bar/jp_nu_7.jpg"><img src="../images/sky_bar/jp_nu_8.jpg"><img src="../images/sky_bar/jp_nu_9.jpg"></div>
          </li>
        </ul>
      </div>
    </div>

    <div class="divider_r"></div>
    <br class="clearfloat" />
  </div>
</div>
------平台工具列(登入後) end--------->
<div class="index_bg_re">
<div class="index_bg_bg">
<div class="index_main_img">
  <!---- 頂部區塊 begin---->
  <div class="header">
      <div class="header_container">
        <div class="header_info">
          <a href="file:///E:/Gowin2/web/index/index_trytoplay_01.html" class="header_btn_experience_1" title="體驗試玩"></a>
          <!----a href="" class="header_btn_playgame_1" title="立即玩"></a---->
        </div>
        <div class="logo"><a href="file:///E:/Gowin2/web/index/index.html"></a></div>
        <br class="clearfloat" />
      </div>
  </div>
  <!---- 頂部區塊 end---->
  <!----跑馬燈 begin---->
  <div class="scrolling_text">
    <div class="scrolling_text_container">
      <marquee onMouseOver="this.stop()" onMouseOut="this.start()">
        <span class="all_txt">恭喜<span class="user_name_txt">再來一次</span>在［海底樂園］贏得<span class="gp_txt">152,559</span>G幣</span>
        <span class="all_txt">恭喜<span class="user_name_txt">再來一次</span>在［海底樂園］贏得<span class="gp_txt">152,559</span>G幣</span>
        <span class="all_txt">恭喜<span class="user_name_txt">再來一次</span>在［海底樂園］贏得<span class="gp_txt">152,559</span>G幣</span>
      </marquee>
    </div>
  </div>
  <!----跑馬燈 end---->
  <!----輪播 begin---->
          <div class="event_banner">
            <div id="abgneBlock">
              <ul class="list">
			    <li><a href="javascript:fb_1();"><img src="../images/templates_index/event_banner/event_1.jpg"></a></li>
			    <li><a href="javascript:fb_1();"><img src="../images/templates_index/event_banner/event_2.jpg"></a></li>
			    <li><a href="javascript:fb_1();"><img src="../images/templates_index/event_banner/event_3.jpg"></a></li>
		      </ul>
              <ul class="playerControl">
                <li></li>
              </ul>
	        </div>
          </div>  
  <!----輪播 end---->

<!---- 中間區塊 begin ---->
<div class="main_board_container_bg">
<div class="main_board_container">
  <div class="m_container" id="m_container">
    <div class="sidebar1">
        <!---側邊展開選單start--->
        <div class="left_menu_board_container">
          <div class="left_menu_board_t"></div>
          <div class="left_menu_board_m">
            <div id="menuContent">
              <div class="menu_group_1"></div>
              <div class="left_menu_m">
                <ul>
                  <li>
		            <div class="menu_item"><a href="javascript:;">最新消息</a></div>
                    <div class="menu_sub" style="display:none;">
                      <ul>
                        <li><a href="javascript:;" onclick="load_page(announce)">最新公告</a></li>
                        <li><a href="javascript:;" onclick="load_page(msg)">活動訊息</a></li>
                        <li><a href="javascript:;" onclick="load_page(info)">遊戲資訊</a></li>
                        <li><a href="javascript:;" onclick="load_page(winners)">得獎名單</a></li>
                      </ul>
		            </div>
                  </li>
                  <li>
		            <div class="menu_item"><a href="javascript:;">金鑽名人榜</a></div>
                     <div class="menu_sub" style="display:none;">
                      <ul>
                        <li><a href="javascript:;" onclick="load_page(baidaregal)">百大富豪</a></li>
                        <li><a href="javascript:;" onclick="load_page(baidapullcolor)">百大拉彩</a></li>
                        <li><a href="javascript:;" onclick="load_page(baidawinpoints)">百大贏分</a></li>
                        <li><a href="javascript:;" onclick="load_page(gamebn)">遊戲局數</a></li>
                        <li><a href="javascript:;" onclick="load_page(singlebnscore)">單局得分</a></li>
                        <li><a href="javascript:;" onclick="load_page(singlebnrate)">單局倍率</a></li>
                        <li><a href="javascript:;" onclick="load_page(combolist)">連爆榜</a></li>
                      </ul>
		            </div>
                  </li>
                  <li>
		            <div class="menu_item"><a href="javascript:;">遊戲介紹</a></div>
                     <div class="menu_sub" style="display:none;">
                      <ul>
                        <li><a href="javascript:;" onclick="load_page(overview)">遊戲總覽</a></li>
                        <li><a href="javascript:;" onclick="load_page(runner)">轉輪館</a></li>
                        <li><a href="javascript:;" onclick="load_page(saobaiqing)">柏青嫂</a></li>
                        <li><a href="javascript:;" onclick="load_page(electronics)">電子館</a></li>
                        <li><a href="javascript:;" onclick="load_page(classic)">經典款</a></li>
                      </ul>
		            </div>
                  </li>
                  <li>
		            <div class="menu_item"><a href="javascript:;">新手教學</a></div>
                    <div class="menu_sub" style="display:none;">
                      <ul>
                        <li><a href="javascript:;" onclick="load_page(interface)">遊戲介面</a></li>
                        <li><a href="javascript:;" onclick="load_page(currencypoints)">幣別點數</a></li>
                        <li><a href="javascript:;" onclick="load_page(tradingsystem)">交易系統</a></li>
                        <li><a href="javascript:;" onclick="load_page(officialversion)">官方版本安裝</a></li>
                        <li><a href="javascript:;" onclick="load_page(chat)">聊天功能</a></li>
                        <li><a href="javascript:;" onclick="load_page(grade)">等級系統</a></li>
                        <li><a href="javascript:;" onclick="load_page(popularity)">會員人氣值</a></li>
                        <li><a href="javascript:;" onclick="load_page(pullcolorintroduction)">彩金介紹</a></li>
                        <li><a href="javascript:;" onclick="load_page(propsvirtualtreasure)">道具虛寶系統</a></li>
                        <li><a href="javascript:;" onclick="load_page(historytachometer)">歷史轉數表</a></li>
                        <li><a href="javascript:;" onclick="load_page(vipcarddiscount)">VIP卡別優惠</a></li>
                      </ul>
		            </div>
                  </li>
                  <li>
		            <div class="menu_item"><a href="javascript:;">試玩體驗</a></div>
                    <div class="menu_sub" style="display:none;">
                      <ul>
                        <li><a href="javascript:;" onclick="load_page(alldemo)">所有試玩</a></li>
                        <li><a href="javascript:;" onclick="load_page(runnerdemo)">轉輪館</a></li>
                        <li><a href="javascript:;" onclick="load_page(saobaiqingdemo)">柏青嫂</a></li>
                        <li><a href="javascript:;" onclick="load_page(electronicsdemo)">電子館</a></li>
                        <li><a href="javascript:;" onclick="load_page(classicdemo)">經典款</a></li>
                      </ul>
		            </div>
                  </li>
                  <li>
		            <div class="menu_item"><a href="javascript:;">會員專區</a></div>
                    <div class="menu_sub" style="display:none;">
                      <ul>
                        <li><a href="javascript:;" onclick="load_page(memberinfo)">我的會員資訊</a></li>
                        <li><a href="javascript:;" onclick="load_page(modifypwd)">修改密碼</a></li>
                        <li><a href="javascript:;" onclick="load_page(giftpointhistory)">贈點歷程</a></li>
                        <li><a href="javascript:;" onclick="load_page(myfriend)">我的好友</a></li>
                        <li><a href="javascript:;" onclick="load_page(gamehistory)">遊戲紀錄</a></li>
                        <li><a href="javascript:;" onclick="load_page(awardcenter)">領獎中心</a></li>
                        <li><a href="javascript:;" onclick="load_page(purchasehistory)">產包購買紀錄</a></li>                                            
                      </ul>
		            </div>
                  </li>
                  <li>
		            <div class="menu_item"><a href="javascript:;">儲值轉點</a></div>
                    <div class="menu_sub" style="display:none;">
                      <ul>
                        <li><a href="javascript:;" onclick="load_page(giftshoppingpoint)">儲值購點</a></li>
                        <li><a href="javascript:;" onclick="load_page(platformgamepoint)">平台轉換遊戲點數</a></li>
                        <li><a href="javascript:;" onclick="load_page(referencegiftredemption)">序號儲值兌換</a></li>
                        <li><a href="javascript:;" onclick="load_page(turningPointtradingcenter)">交易轉點中心</a></li>
                      </ul>
		            </div>
                  </li>
	            </ul>
              </div>
            </div>
          </div>
          <div class="left_menu_board_b"></div>
        </div>
        <!---側邊展開選單end---> 

        <!------客服中心 begin--------->
        <div class="services_container">
          <div class="services_center_board_t"></div>
          <div class="services_center_board_m">
            <div class="link_1"><a href="javascript:;" onclick="load_page(customerserviceonline)"></a></div>
            <div class="link_2"><a href="javascript:;" onclick="load_page(faq)" class="active"></a></div>
          </div>
          <div class="services_center_board_b"></div>
        </div>
        <!------客服中心 end--------->

    </div>
    <div class="sidebar2">
      <!---最新熱門機台 begin----->
      <div class="hot_slot_game">
        <div id="hot_slot_title_customer_service" class="hot_slot_title_customer_service"><br class="clearfloat" />
        </div> 
        <div class="hot_slot_faq"> 
          <ul>
            <br class="clearfloat" />
          </ul>
        </div>
      </div>
      <!---最新熱門機台 end----->
     
    </div>
    <br class="clearfloat" />
  </div>
</div>  
</div>
<!---- 中間區塊 end ---->

</div>
</div>
</div>
<!---- 底部內容區塊 begin ---->
<div class="footer">
  <div class="footer_container">
    <div class="copyright_logo"><a href=""></a></div>
    <div class="copyright_txt">
      <span class="link"><a href="#">服務條款</a> |  <a href="#">隱私權政策</a> |  <a href="#">聯絡我們</a> |  <a href="#">常見問題</a></span>
      © 2015 咪兔數位科技 All Rights Reserved.<br>
      請注意使用時間，避免沉迷於遊戲。本遊戲部份內容需要購買遊戲幣消費。
    </div>
    <div class="game_npluto"><a href="http://www.npluto.com/" target="_blank"></a></div>
    <div class="classification"></div>
    <br class="clearfloat" />    
  </div>
</div>
<!---- 底部內容區塊 end ---->  
</body>
</html>
