    <div class="sidebar1">
        <!---側邊展開選單start--->
        <div class="left_menu_board_container">
          <div class="left_menu_board_t"></div>
          <div class="left_menu_board_m">
            <div id="menuContent">
              <div class="menu_group_1"></div>
              <div class="left_menu_m">
                <ul>
                  <li>
		                <div class="menu_item"><a<% if (Category=='latestnews'){%> class="active"<%}%>>最新消息</a></div>
                    <div class="menu_sub">
                      <ul>
                        <li><a href="index_news_01.html#hot_slot_title_news"<% if (Page=='announcement'){%> class="active"<%}%>>所有公告</a></li>
                        <li><a href="index_news_02.html#hot_slot_title_news"<% if (Page=='activities_msg'){%> class="active"<%}%>>活動訊息</a></li>
                        <li><a href="index_news_03.html#hot_slot_title_news"<% if (Page=='member'){%> class="active"<%}%>>遊戲資訊</a></li>
                        <li><a href="index_news_04.html#hot_slot_title_news"<% if (Page=='member'){%> class="active"<%}%>>得獎名單</a></li>
                      </ul>
		                </div>
                  </li>
                  <li>
		                <div class="menu_item"><a<% if (Category=='latestnews'){%> class="active"<%}%>>金鑽名人榜</a></div>
                    <div class="menu_sub">
                      <ul>
                        <li><a href="index_rank_01.html#hot_slot_title_news"<% if (Page=='member'){%> class="active"<%}%>>百大富豪</a></li>
                        <li><a href="index_rank_02.html#hot_slot_title_news"<% if (Page=='member'){%> class="active"<%}%>>百大拉彩</a></li>
                        <li><a href="index_rank_03.html#hot_slot_title_news"<% if (Page=='member'){%> class="active"<%}%>>百大贏分</a></li>
                        <li><a href="index_rank_04.html#hot_slot_title_news"<% if (Page=='member'){%> class="active"<%}%>>遊戲局數</a></li>
                        <li><a href="index_rank_05.html#hot_slot_title_news"<% if (Page=='member'){%> class="active"<%}%>>單局得分</a></li>
                        <li><a href="index_rank_06.html#hot_slot_title_news"<% if (Page=='member'){%> class="active"<%}%>>單局倍率</a></li>
                        <li><a href="index_rank_07.html#hot_slot_title_news"<% if (Page=='member'){%> class="active"<%}%>>連爆榜</a></li>                      
                      </ul>
		                </div>                   
                  </li>
                  <li>
		                <div class="menu_item"><a<% if (Category=='latestnews'){%> class="active"<%}%>>遊戲介紹</a></div>
                    <div class="menu_sub">
                      <ul>
                        <li><a href="index_introduction_01.html"<% if (Page=='member'){%> class="active"<%}%>>遊戲總覽</a></li>
                        <li><a href="index_introduction_02.html"<% if (Page=='member'){%> class="active"<%}%>>轉輪館</a></li>
                        <li><a href="index_introduction_03.html"<% if (Page=='member'){%> class="active"<%}%>>柏青嫂</a></li>
                        <li><a href="index_introduction_04.html"<% if (Page=='member'){%> class="active"<%}%>>電子館</a></li>
                        <li><a href="index_introduction_05.html"<% if (Page=='member'){%> class="active"<%}%>>經典款</a></li>
                      </ul>
		                </div>
                  </li>
                  <li>
		                <div class="menu_item"><a<% if (Category=='latestnews'){%> class="active"<%}%>>新手教學</a></div>
                    <div class="menu_sub">
                      <ul>
                        <li><a href="index_novice_01.html"<% if (Page=='member'){%> class="active"<%}%>>遊戲介面</a></li>
                        <li><a href="index_novice_02.html"<% if (Page=='member'){%> class="active"<%}%>>幣別點數</a></li>
                        <li><a href="index_novice_03.html"<% if (Page=='member'){%> class="active"<%}%>>交易系統</a></li>
                        <li><a href="index_novice_04.html"<% if (Page=='member'){%> class="active"<%}%>>官方版本安裝</a></li>
                        <li><a href="index_novice_05.html"<% if (Page=='member'){%> class="active"<%}%>>聊天功能</a></li>
                        <li><a href="index_novice_06.html"<% if (Page=='member'){%> class="active"<%}%>>等級系統</a></li>
                        <li><a href="index_novice_07.html"<% if (Page=='member'){%> class="active"<%}%>>會員人氣值</a></li>
                        <li><a href="index_novice_08.html"<% if (Page=='member'){%> class="active"<%}%>>彩金介紹</a></li>
                        <li><a href="index_novice_09.html"<% if (Page=='member'){%> class="active"<%}%>>道具虛寶系統</a></li>
                        <li><a href="index_novice_10.html"<% if (Page=='member'){%> class="active"<%}%>>歷史轉數表</a></li>
                        <li><a href="index_novice_11.html"<% if (Page=='member'){%> class="active"<%}%>>VIP卡別優惠</a></li>
                      </ul>
		                </div>
                  </li>
                  <li>
		                <div class="menu_item"><a<% if (Category=='latestnews'){%> class="active"<%}%>>試玩體驗</a></div>
                    <div class="menu_sub">
                      <ul>
                        <li><a href="index_trytoplay_01.html"<% if (Page=='member'){%> class="active"<%}%>>所有試玩</a></li>
                        <li><a href="index_trytoplay_02.html"<% if (Page=='member'){%> class="active"<%}%>>轉輪館</a></li>
                        <li><a href="index_trytoplay_03.html"<% if (Page=='member'){%> class="active"<%}%>>柏青嫂</a></li>
                        <li><a href="index_trytoplay_04.html"<% if (Page=='member'){%> class="active"<%}%>>電子館</a></li>
                        <li><a href="index_trytoplay_05.html"<% if (Page=='member'){%> class="active"<%}%>>經典款</a></li>
                      </ul>
		                </div>
                  </li>
                  <li>
		                <div class="menu_item"><a<% if (Category=='latestnews'){%> class="active"<%}%>>儲值轉點</a></div>
                    <div class="menu_sub">
                      <ul>
                        <li><a href="javascript:menu02_2_1();"<% if (Page=='member'){%> class="active"<%}%>>儲值購點</a></li>
                        <li><a href="javascript:menu02_2_2();"<% if (Page=='member'){%> class="active"<%}%>>平台轉換遊戲點數</a></li>
                        <li><a href="javascript:menu02_2_3();"<% if (Page=='member'){%> class="active"<%}%>>序號儲值兌換</a></li>
                        <li><a href="javascript:menu02_2_4();"<% if (Page=='member'){%> class="active"<%}%>>交易轉點中心</a></li>                    
                      </ul>
		                </div>
                  </li>
	            </ul>
              </div>
            </div>
          </div>
          <div class="left_menu_board_b"></div>
        </div>
        <!---側邊展開選單end---> 

        <!------客服中心 begin--------->
        <div class="services_container">
          <div class="services_center_board_t"></div>
          <div class="services_center_board_m">
            <div class="link_1"><a href="index_customer_customer_service_online.html"></a></div>
            <div class="link_2"><a href="index_customer_service_FAQ.html"></a></div>
          </div>
          <div class="services_center_board_b"></div>
        </div>
        <!------客服中心 end--------->

    </div>
