<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
<meta http-equiv="content-language" content="zh-tw" />
<!--<meta name="robots" content="all" />
<meta name="description" content="位於台中的網頁設計公司，提供客戶製作網頁、網頁設計、網站製作、設計網頁、關鍵字廣告、SEO排名。" />
<meta name="COMPANY" content="凱克博網頁設計公司,台中網頁設計,網頁設計" />
<meta name="copyright" content="凱克博網頁設計公司" />-->
<title>茂為歐買尬數位科技股份有限公司（MacroWell OMG Digital Entertainment Co., Ltd.）</title>
<!--<meta name="google-site-verification" content="OF03i59A2u6lavIzu5joJq6uxYRqtjWWbgP_QQv8B5w" />
<meta name="msvalidate.01" content="1EB4C3B82E119C7494E20FA1B6A0D231" />-->
<!--<link rel="shortcut icon" type="image/x-icon" href="http://www.cb-design.com.tw/images/favicon.ico" />-->
<!-- Compiled and minified CSS -->
<!--<link rel="stylesheet" href="css/materialize.min.css"  type="text/css">-->
<link rel="stylesheet" href="css/style.css" type="text/css">
<!--<link rel="stylesheet" href="css/style.css" type="text/css">-->
</head>

<body>
<!-- ================================= top =========================================================== -->
<!--<div id="top">
  <div class="temp">
    <a href="/" id="header"><h1 id="title"><font>網頁設計</font>、<font>網站行銷</font></h1></a>
    <div id="sns"></div>
  </div>
</div>-->

<!-- ================================= content =========================================================== -->
<div id="temp">
  <div class="article">
     <!--<hr id="line-top">-->
     <div id="nav">
        <!--<p class="title">關鍵字廣告</p>-->
        <div class="btns">
<div id="rt0">
    <a href="/" class="dropdown-button m1" data-activates='rl0'>首頁</a>
    <ul id="rl0" class='dropdown-content'>
      <li><a href="/compare.php"><span></span>月曆/日曆模式</a></li>
      <li><a href="/advertising.php"><span></span>伺服器狀態</a></li>
      <li><a href="/seo.php"><span></span>登出 (Logout)</a></li>
    </ul>
</div>
<div id="rt1">
    <a href="javascript: void(0);" class="dropdown-button m1" data-activates='rl1'>遊戲管理</a> 
    <ul id="rl1" class='dropdown-content'>
      <li><a href="/compare.php"><span></span>登入公告管理</a></li>
      <li><a href="/advertising.php"><span></span>推播管理</a></li>
      <li><a href="/seo.php"><span></span>獎勵管理</a></li>
      <li><a href="http://card.cb-design.com.tw"><span></span>彩帶管理</a></li>
      <li><a href="/faq.php"><span></span>活動時段管理</a></li>
      <li><a href="/article.php"><span></span>機器人管理</a></li>
      <li><a href="/abouts.php"><span></span>活動派發道具</a></li>
      <li><a href="/abouts.php"><span></span>遊戲排行榜面板管理</a></li>
    </ul>
</div> 
<div id="rt2">
    <a href="javascript: void(0);" class="dropdown-button m1" data-activates='rl2'>玩家資料查詢</a> 
    <ul id="rl2" class='dropdown-content'>
      <li><a href="/compare.php"><span></span>帳號資料查詢</a></li>
      <li><a href="/advertising.php"><span></span>遊戲歷史記錄</a></li>
      <li><a href="/seo.php"><span></span>朋友列表</a></li>
      <li><a href="/faq.php"><span></span>道具列表</a></li>
    </ul>
</div> 
<div id="rt3">
    <a href="javascript: void(0);" class="dropdown-button m1" data-activates='rl3'>營運資料查詢</a> 
    <ul id="rl3" class='dropdown-content'>
      <li><a href="/compare.php"><span></span>營運報表</a></li>
      <li><a href="/advertising.php"><span></span>儲值記錄</a></li>
      <li><a href="/seo.php"><span></span>儲值幣歷史指數</a></li>
      <li><a href="/faq.php"><span></span>彩金排行榜</a></li>
      <li><a href="/article.php"><span></span>得分王排行榜</a></li>
      <li><a href="/abouts.php"><span></span>堂口卡查詢</a></li>
    </ul>
</div>
<div id="rt4">
    <a href="javascript: void(0);" class="dropdown-button m1" data-activates='rl4'>後台使用者管理</a> 
    <ul id="rl4" class='dropdown-content'>
      <li><a href="/compare.php"><span></span>管理者帳號設定</a></li>
      <li><a href="/advertising.php"><span></span>管理者列表</a></li>
      <li><a href="/seo.php"><span></span>後台操作 LOG</a></li>
      <li><a href="/faq.php"><span></span>權限管理</a></li>
    </ul>
</div>

<div id="rt5">
    <a href="javascript: void(0);" class="dropdown-button m1" data-activates='rl5'>聊天室管理</a> 
    <ul id="rl5" class='dropdown-content'>
      <li><a href="/compare.php"><span></span>開關聊天室</a></li>
      <li><a href="/advertising.php"><span></span>公共聊天室公告</a></li>
      <li><a href="/seo.php"><span></span>廣播訊息</a></li>
      <li><a href="/faq.php"><span></span>聊天官方帳號 登入</a></li>
    </ul>
</div>
<!--<a href="/contact.php" class="m1">聯絡我們</a>-->
</div>
   </div>
  <div class="inside single">
  <table border="1" cellpadding="0" cellspacing="0" style="width: 950px;">
    <tbody>
        <tr>
            <td style="vertical-align: top;">
                <table border="1" cellpadding="0" cellspacing="0" style="color: rgb(51, 51, 51); line-height: 28px; font-size: 13px; font-family: 新細明體;" width="282">
                    <tbody>
                        <tr>
                            <td height="41">
                                <!--<img alt="" src="/upload/images/20140715_162510.png" style="width: 184px; height: 18px;" />-->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                做生意最怕沒人知道、沒客人上門，<br />
                                做了網站卻擔心曝光量不足，看不到您的商品，<br />
                                如何花小錢達到廣告效果？關鍵字廣告可以幫助您有效提升網站搜尋。</td>
                        </tr>
                        <tr>
                            <td>
                                <!--<img alt="" src="/upload/images/20140715_162750.png" style="width: 283px; height: 48px;" />--><br />
                                <span style="color: rgb(0, 113, 188);"><span style="font-size: 15px;"><span style="font-family: 微軟正黑體;">有效很神！ 您的廣告出現在對的人面前</span></span></span></td>
                        </tr>
                        <tr>
                            <td>
                                在廣泛的網路世界中，依照行業類別、主打物件讓網友可精準的成為您的客戶主動找上門，因此成交機率大為提升。</td>
                        </tr>
                        <tr>
                            <td>
                                <!--<img alt="" src="/upload/images/20140715_162802.png" style="width: 281px; height: 226px;" />--><br />
                                &nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="vertical-align: top;">
                <div>
                    <table border="1" cellpadding="0" cellspacing="0" style="color: rgb(51, 51, 51); line-height: 28px; font-size: 13px; font-family: 新細明體;" width="282">
                        <tbody>
                            <tr>
                                <td height="41">
                                    <!--<img alt="" src="/upload/images/20140715_162517.png" style="width: 209px; height: 18px;" />-->
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    為了滿足各領域客戶需求，推出最普遍大眾最常使用的兩大瀏覽器關鍵字廣告，依您產業性質給予專業諮詢建議，讓您更準確達成目標。</td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color: rgb(0, 113, 188);"><span style="font-family: 微軟正黑體;"><span style="font-size: 15px;">
                                    <!--<img alt="" src="/upload/images/20140715_164241.png" style="width: 271px; height: 79px;" />--><br />
                                    YAHOO 台灣NO.1 最大的入口網站</span></span></span></td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;">
                                    <p>
                                        占台灣上網人口比率高達96 %<br />
                                        每月搜尋量已高達12億次<br />
                                        &nbsp;</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color: rgb(0, 113, 188);"><span style="font-size: 15px;"><span style="font-family: 微軟正黑體;">
                                    <!--<img alt="" src="/upload/images/20140715_164249.png" style="width: 271px; height: 79px;" />--><br />
                                    GOOGLE 全球NO.1 最多人使用搜尋引擎</span></span></span></td>
                            </tr>
                            <tr>
                                <td>
                                    全球網路使用人數突破24億人，Google 在這些使用者當中的觸及率高達 70% 以上，甚至在部份地區超過 80%<br />
                                    &nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td style="vertical-align: top;">
                <table border="1" cellpadding="0" cellspacing="0" style="color: rgb(51, 51, 51); line-height: 28px; font-size: 13px; font-family: 新細明體;" width="282">
                    <tbody>
                        <tr>
                            <td height="41">
                                <!--<img alt="" src="/upload/images/20140715_162525.png" style="width: 184px; height: 18px;" />-->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="color: rgb(0, 113, 188);"><span style="font-size: 15px;"><span style="font-family: 微軟正黑體;">預算隨時調整</span></span></span></td>
                        </tr>
                        <tr>
                            <td valign="top">
                                配合公司淡旺季、企畫活動做整體配置<br />
                                &nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <span style="font-family: 微軟正黑體;"><span style="font-size: 15px;"><span style="color: rgb(0, 113, 188);">設定每日／每月預算</span></span></span></p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                依照公司的配額做每日預算控管，不需擔心多於金額的浪費<br />
                                &nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-size: 15px;"><span style="font-family: 微軟正黑體;"><span style="color: rgb(0, 113, 188);">廣告精準頭放</span></span></span></td>
                        </tr>
                        <tr>
                            <td valign="top">
                                可設定給什麼目標客群、投遞在什麼區域、出現於什麼時段，靈活調整善用每分廣告預算。<br />
                                &nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br />
</div>
    </div>
</div>

<!-- ================================= bottom =========================================================== -->
<div id="bottom">
  <div class="temp">
    <div class="contact">
    <!--
        <h2 id="t1">凱克博實業有限公司│<a href="http://www.cb-design.tw"><strong>網頁設計</strong></a>、<a href="http://www.cb-design.com.tw/seo.php">網站行銷</a></h2>
        <p id="t2">台中市公益路349號7F-12｜TEL：04-2320-0760｜FAX：04-2320-8377｜營業時間 W1-W5 am 09：00 - pm 06：00</p>        
        <table id="share-table">
        <tr>
        <td>
        <a href="https://twitter.com/share" class="twitter-share-button share-btn" data-lang="zh-tw" data-count="none">推文</a>
        </td>
        <td>
        //在您要顯示「+1 按鈕」的位置放上這個標記。      
        <div class="g-plusone share-btn" data-annotation="none" data-href="http://www.cb-design.com.tw"></div>
        </td> 
        <td>
        <a title="Share to Plurk" href="javascript:void(window.open('http://www.plurk.com/?qualifier=shares&status='.concat(encodeURIComponent(window.location.href)).concat(' ').concat('(').concat(encodeURIComponent(document.title)).concat(')')));">
<img title="share" src="http://s.plurk.com/2980c7bcb4eb012159e7701a61cb2e75.png" width="56" height="20" align="absmiddle" border="0" />
</a>
        </td> 
        <td>
        <div id="fb-root"></div>
        <div class="fb-share-button share-btn" data-href="http://www.cb-design.com.tw/" data-type="button_count"></div>
        </td>
        <td>
        <div class="fb-like share-btn" data-href="https://www.facebook.com/pages/%E5%87%B1%E5%85%8B%E5%8D%9A%E7%B6%B2%E9%A0%81%E8%A8%AD%E8%A8%8804-23200760/368675909822629" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        </td> 
        <td><div class="share"><a href="/sitemap.html">網站地圖</a> | <a href="http://www.businessdirectory.com.tw" target="_blank">工商名錄</a> | <a href="/links.php">好站分享</a></div></td>
        </tr>
        </table>
    -->
    </div>
    <div id="footer">
        <!--<div id="google_translate_element"></div>-->
        <p id="explorer">建議使用最新版本 <a href="http://www.google.com/chrome/index.html?hl=zh-TW&brand=CHMB&utm_campaign=zh-TW&utm_source=zh-TW-ha-apac-tw-sk&utm_medium=ha&gclid=COG06_bJhb8CFcJ8vQod05QArg" target="_blank">Google</a>、<a href="http://windows.microsoft.com/zh-tw/internet-explorer/download-ie" target="_blank">Internet Explorer</a> 瀏覽器觀看<br>
        ©茂為歐買尬數位科技股份有限公司（MacroWell OMG Digital Entertainment Co., Ltd.）All Rights Reserved .</p>
    
    </div>
  </div>
</div>

        <!--Import jQuery before materialize.js-->
        <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
        <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
        <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script> -->
        <script type="text/javascript" src="/Materialize/dist/js/materialize.min.js"></script>
        <!-- <script src="/js/vue/vue.min.js"></script> -->
        <script type="text/javascript" src="/vue/dist/vue.min.js"></script>
        <script type="text/javascript" src="/js/form.js"></script>
        <!--<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/jquery.thumbox.1.2.js"></script>-->
        <!-- Compiled and minified JavaScript -->
        <!--<script src="js/materialize.min.js"></script>-->
        <script src="/js/tjs.js"></script>

</body>
</html>
