<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= Title %></title>
	
	<!-- Compiled and minified CSS -->
	<link type="text/css" rel="stylesheet" href="/Materialize/dist/css/materialize.min.css">
	<!-- <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" media="screen,projection"> -->
	<link type="text/css" rel="stylesheet" href="/material-design-icons/iconfont/material-icons.css">
	<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" href="/sweetalert/dist/sweetalert.css">
  <style type="text/css">
  html, body {
      height: 100%;
  }
  html {
      display: table;
      margin: auto;
  }
  body {
      display: table-cell;
      vertical-align: middle;
  }
  .margin {
    margin: 0 !important;
  }
  </style>
</head>

<body class="black">

  <div id="signup-page" class="row">
    <div id="loginModal" class="col s12 z-depth-6 card-panel">
      <form class="login-form">
        <div class="row">
          <div class="input-field col s12 center">
            <img src="/images/logo.png" alt="" class="responsive-img valign profile-image-login">
            <p class="center login-form-text">GoWin2 Admin SignUp</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <!--<i class="mdi-social-person-outline prefix"></i>
            <input id="username" type="text" class="validate">
            <label for="username" class="center-align">Username</label>-->
						<i class="material-icons prefix">supervisor_account</i>
						<input id="username" name='username' type="text" class="validate" v-model="username">
						<label for="account">Account</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <!--<i class="mdi-communication-email prefix"></i>
            <input id="email" type="email" class="validate">
            <label for="email" class="center-align">Email</label>-->
						<i class="material-icons prefix">vpn_key</i>
						<input id="password" name='password' type="password" class="validate" v-model="password">
						<label for="password">Password</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <!--<i class="mdi-action-lock-outline prefix"></i>
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>-->
						<i class="material-icons prefix">vpn_key</i>
						<input id="password" name='retypepassword' type="password" class="validate" v-model="retypepassword">
						<label for="retypepassword">Confirm Password</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
           	<i class="material-icons prefix">perm_identity</i>
              <select name='permission' class="validate" v-model='permission'>
                 <option value="" disabled selected>Choose your permission</option>
                 <option value="superadmin">SuperAdmin</option>
                 <option value="admin">Admin</option>
                 <option value="user">User</option>
              </select>
						<!--<label for="permission">Permission Select</label>-->
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
   					<a class="btn waves-effect waves-light col s12" name="register_action" v-on:click="clickModalRegister" v-on:keyup.enter="clickModalRegister">Register</a>
          </div>
          <div class="input-field col s12">
            <p class="margin center medium-small sign-up">Already have an account? <a href="/login">Login</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>

	<!--Import jQuery before materialize.js-->
	<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
	<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script> -->
	<script type="text/javascript" src="/Materialize/dist/js/materialize.min.js"></script>
	<!-- <script src="/js/vue/vue.min.js"></script> -->
	<script src="/sweetalert/dist/sweetalert.min.js"></script>
	<script type="text/javascript" src="/vue/dist/vue.min.js"></script>
	<script src="/js/login.js"></script>
</body>
</html>
